* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;

}

body {
    background-color: rgb(255, 51, 0);
}


header .container {
    font-size: 36px;
    margin: auto;
    max-width: 1200px;
    background-color: #CCCCCC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: center; */

    color: #FFFFFF;
}


#menu {
    display: flex;
    flex-direction: row;

    gap: 32px;
    font-size: 16px;
    padding: 17px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}



main .container {
    max-width: 1200px;
    background-color: aqua;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.buttonList button {
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    padding: 10px 15px ;
    margin: 30px 0px;
    font-size: 16px;
}


.buttonList button svg{
    padding: 0px 10px;
}




main .containerCatalog {
    max-width: 1200px;
    background-color: rgb(98, 224, 13);
    margin: auto;
    display: flex;
 
}


.row{
    background-color: chocolate;
}